<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--部署主机头-->
    <add key="Localhost" value="http://192.168.16.110:1002" />
  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=192.168.16.5,49189;Initial Catalog=NewExhibition;Persist Security Info=True;User ID=sa;Password=Sql2012" />
    <!--<add name="ConnString" connectionString="Data Source=192.168.16.110;Initial Catalog=OWSF_Main;Persist Security Info=True;User ID=sa;Password=123456"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>
